{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es5",
    "transform": null,
    "externalHelpers": true,
    "baseUrl": "./src"
  },
  "minify": true,
  "isModule": false,
  "sourceMaps": true,
  "module": {
    "type": "commonjs",
    "strict": false,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  }
}
